<!DOCTYPE html>
<html>
<head>
	  <meta charset="UTF-8">
	  <title> NCS </title>
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
	  <link rel="shortcut icon" href="#" />
</head>

<body> 
		<h1>IoT based object classification</span></h1>
		
		<div align="center" style = "margin-top:100px;">
			<a href="#" class="myButton"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Snapshot </span></a>
		</div>

		<div>
			<center>
				<image id = "shot"  style = "margin-top:10px; "></image>
			</center>
		</div>

		<div >
			<h1 id="result" style="margin-right:20px; margin-top:600px;float:left;"><span> </span></h1>
		</div>

  		<script src="{{ url_for('static',filename='jquery-2.1.3.min.js') }}"></script>

	    <script type="text/javascript">
	   		$(".myButton").click(function(){
	   			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/predict/",

	   				success: function(data){
	   					$('#result').text(data['inference'] +'--' + data['confidency']);
	   					var u = "{{ url_for('static',filename = '.')}}"
						$("#shot").attr("src",u + data['name']);
	   				}
	   			});
	   		});
	   
	   </script>
</body>
</html>
